ul li{
	float: right;
	padding: 15px 2px;
	margin: 15PX 0px;


}
.container p{
	font-weight: lighter;
	letter-spacing: 1px;
	word-spacing: 1px
	font-size:1px;
	width: 200px;
	margin: 15px 0;
	padding-bottom: 10px;
	border: 2px solid red;
	padding: 20px;
	text-align-last: right;

}
section{
	background-image: url(stripes.gif); 
	background-color: yellow;
}